@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/*-- Body --*/
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
    padding: 0;
    margin: 0;
}

#bg.animation {
    animation: rainbow 8s ease 0s infinite alternate;
}

#home.animation {
    animation: rainbow 8s ease 0s infinite alternate;
}

/*-- Pace --*/
#bg {
    display: none;
}

@keyframes rainbow {
    0% {background-color: rgba(0, 0, 0, 0.3)!important;}
    10%{background-color: pink;}
    20% {background-color: violet;}
    30% {background-color: purple;}
    40% {background-color: red;}
    50% {background-color: orange;}
    60% {background-color: yellow;}
    70% {background-color: yellowgreen;}
    80% {background-color: skyblue;}
    90% {background-color: blue;}
    100% {background-color: darkblue;}
}

/*-- Utills --*/
.offset:before {
    display: block;
    content: "";
}

h3.heading {
    font-size: 3rem;
    font-weight: 1000;
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding-top: 5rem;
}

.btn-secondary {
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color: #808080;
    background-color: white;
    border-color: white;
    width: 20vw;
}

.btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0);
    color: white;
}

.lang_wrap {
    margin-top: 1rem;
}

.lang_btn {
    cursor: pointer;
    color: white;
    margin: .5rem;
    font-size: 1rem;
}

/*-- Home Section --*/
#home {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3)!important;
    color: white;
}

#home h1 {
    padding-top: 20rem;
    font-size: 10rem;
}

.down a {
    font-size: 10rem;
    color: white;
}

.down a:hover {
    color: lightgray;
}

/*-- Navigation Section --*/
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0)!important;
    margin-top: 5rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: gray;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: black;
}

.audio_button {
    cursor: pointer;
}

/*-- Up --*/
#up {
    float: right;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5vw;
    top: 90vh;
}

#up a {
    font-size: 3rem;
    color: lightgray;
}

#up a:hover {
    color: whitesmoke;
}

/*-- About Section --*/
#about {
    background-color: rgba(0, 0, 0, 0.4)!important;
    color: white;
    padding: 5rem 0 10rem;
    margin: 5rem;
}

#about img {
    width: 300px;
    border-radius: 50%;
}

.detail {
    padding: 3rem 20vw 0;
}

.sns a {
    color: white;
}

.sns svg.svg-inline--fa {
    font-size: 3rem;
    margin: 1.2rem .5rem 0 0;
}

.sns svg.svg-inline--fa:hover {
    color: gray;
}

/*-- Skills Section --*/
#skills {
    background-color: rgba(0, 0, 0, 0.5)!important;
    color: white;
    padding: 5rem 0;
    margin: 10rem;
}

.skill {
    padding: 0 20vw 5rem;
}

/*-- Policy Section --*/
#policy {
    background-color: rgba(0, 0, 0, 0.6)!important;
    color: white;
    padding: 5rem 0;
    margin: 10rem 15rem;
}

.policy {
    padding: 0 20vw 5rem;
}

/*-- Price Section --*/
#price {
    background-color: rgba(0, 0, 0, 0.7)!important;
    color: white;
    padding: 5rem 0;
    margin: 10rem 20rem;
}

.price {
    padding: 0 8rem 5rem;
}

/*-- Contact Section --*/
#contact {
    background-color: rgba(0, 0, 0, 0.8)!important;
    color: white;
    padding: 5rem 0 10rem;
    margin: 10rem 25rem;
}

#contact img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#contact a {
    color: white;
}

#contact svg.svg-inline--fa {
    font-size: 3rem;
    margin: 1.2rem .5rem 0 0;
}

#contact svg.svg-inline--fa:hover {
    color: gray;
}

/*-- Thanks Section --*/
#thanks {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10rem 0;
    margin: 5rem 15rem;
}

.thanks {
    font-size: 10rem;
}

.thanks a {
    color: white;
}

.thanks a:hover {
    color: lightgray;
    text-decoration: none;
}

/*-- Footer Section --*/
#footer {
    background-color: rgb(0, 0, 0, 1)!important;
    color: white;
    padding: 2rem;
    margin: 10rem 0 0;
}

.copyright a {
    color: white;
}

.copyright a:hover {
    color: black;
}

@media (min-width: 769px) {
    /*-- Animation --*/
    #about.animation {
        animation: radiusAnime 3s ease 0s infinite alternate;
    }
    #skills.animation {
        animation: radiusAnime2 3s ease 0s infinite alternate;
    }
    #policy.animation {
        animation: radiusAnime2 3s ease 0s infinite alternate;
    }
    #price.animation {
        animation: radiusAnime2 3s ease 0s infinite alternate;
    }
    #contact.animation {
        animation: radiusAnime2 3s ease 0s infinite alternate;
    }

    @keyframes radiusAnime {
        100% {border-radius: 30rem;}
    }
    @keyframes radiusAnime2 {
        100% {border-radius: 20rem / 10rem;}
    }
}


/*-- Media Queries --*/
@media (max-width: 1312px) {
    #about {
        padding: 5rem 0 10rem;
        margin: 5rem 0;
    }
    #skills {
        padding: 5rem 0 10rem;
        margin: 5rem 0;
    }
    #policy {
        padding: 5rem 0;
        margin: 5rem 0rem;
    }
    #price {
        padding: 5rem 0;
        margin: 5rem 0rem;
    }
    #contact {
        padding: 5rem 0 10rem;
        margin: 5rem 0rem;
    }
    #thanks {
        padding: 10rem 0;
        margin: 5rem 0rem;
    }
    #footer {
        padding: 2rem;
        margin: 5rem 0rem 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        position: relative;
        display: none;
    }
    .down {
        display: none;
    }
    .detail {
        padding: 3rem 0 0;
    }
    .skill {
        padding: 0;
    }
    .policy {
        padding: 0;
    }
    .price {
        padding: 0;
    }
    .btn-secondary {
        width: 15rem;
    }
}

@media (min-width: 769px) {
    #contents {
        display: none;
    }
}

@media (max-width: 680px) {
    #home h1 {
        font-size: 3rem;
    }
    .thanks {
        font-size: 3rem;
    }
}

/*-- BOOTSTRAP BREAK POINTS:

Extra smaill (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (deskt1ops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

-- */